# --- Docker ---
docker-compose.override.yml
.docker-ignore

# --- Python / Lambdas ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.tox/

# --- .NET / C# ---
**/bin/
**/obj/
.vs/
.vscode/
*.user
*.suo
*.db
*.opensdf

# --- Infraestrutura e AWS (Sensíveis) ---
# Nunca suba suas chaves reais se você criar arquivos locais
.aws/
credentials
config
# Arquivos de estado do LocalStack ou builds temporários
*.zip
lambda_dist/
localstack-init/logs/

# --- Sistema e Logs ---
.DS_Store
Thumbs.db
*.log
*.tmp

# --- Documentação do Projeto ---
# Se for gerar documentos locais
/docs/